.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .ubheader { color: #008CBA; }
  
  .btn {
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 85%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .textblock {
    padding: 20px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 90%;
  }
  .maincntn {
    width: 90%;
  }
  
  h5 {
    float: left;
    color:#008CBA !important;
  }
  
  #optButton {
    text
  }