
.panel{
margin-bottom: 10px!important;
}
.navbar {
  margin-bottom: 0px!important;
}
.hide-toggle{
  display: none;
}
Timeline
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #33363e;
  /* background-color: #eeeeee; */
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #7c7c7c;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.preactive {
  background-color: gray;
}
.timeline .timeline-item .timeline-badge.postactive {
  background-color:rgb(209, 205, 205);
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #1f9eba;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 8px;
  left: 56px;
  right: 0;
  width: 90%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 54px;
  width: 1%;
  min-width: 90px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  /* left: 43px; */
}
#stimg {
  margin-left: 10%; 
  margin-top: 13%;
}

.ortable .table {
  background: rgba(255, 255, 255, 0.8) !important;
  margin: .5%;
  border-radius: 12px;
}

#frm1 {
  background: rgba(255, 255, 255, 0.4) !important;
  padding: 2%;
  margin-top: 1%;
  /* border-radius: 2%; */
}

.ordercontainer {
  background: rgba(255, 255, 255, 0.5) !important; 
  padding: 2%;
  border-radius: 2%;
}
#orderstbl th {
  background-color: #264595;
  color: white;
  font-family: "Georgia, serif" ; 
  font-size: 17px;
}
.grey{
  background-color: #e2cdcd!important;
}

#print-page td,#print-page th{
  padding: 0px;
}

.tail-cls {
  background-color: #e2b176c9 ;
  border-radius: 5px;
  padding:5px;
  cursor: pointer;
  border: 1px solid #ccc3c3; 
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  border-radius: 5px;
  padding: 5px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #e2b176c9;
  border-radius: 5px;
  margin-left: 5px;
}

div.scrollmenu a:hover {
  background-color: #777;
}




.tile,.tiles {
  /* width: 100%; */
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
}
.tile .title,.tiles .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green,.tiles.purple, .tiles.blue, .tiles.red, .tiles.orange, .tiles.green {
  color: #fff;
}
.tile.purple,.tiles.purple {
  background: #5133ab;
}
.tile.purple:hover {
  background: #3e2784;
}
.tile.red,.tiles.red {
  background: #ac193d;
}
.tile.red:hover {
  background: #7f132d;
}
.tile.green,.tiles.green {
  background: #00a600;
}
.tile.green:hover {
  background: #007300;
}
.tile.blue,.tiles.blue {
  background: #2672ec;
}
.tile.blue:hover {
  background: #125acd;
}
.tile.orange,.tiles.orange {
  background: #dc572e;
}
.tile.orange:hover {
  background: #b8431f;
}

.tile.col1,.tiles.col1 {
  background: #6992a6;
}
.tile.col2,.tiles.col2 {
  background: #bbcb2d;
}
.tile.col3,.tiles.col3 {
  background: #f4ad3b;
}
.tile.col4,.tiles.col4 {
  background: #f3867f;
}
.tile.col5,.tiles.col5 {
  background: #8a9aa7;
}
.tile.col6,.tiles.col6 {
  background: #58b9c0;
}
.tile.col7,.tiles.col7 {
  background: #1dd1ae;
}

.verticalTableHeader {
  text-align:center;
  white-space:nowrap;
  g-origin:50% 50%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  
}
.verticalTableHeader p {
  margin:0 -100% ;
  display:inline-block;
}
.verticalTableHeader p:before{
  content:'';
  width:0;
  padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
  display:inline-block;
  vertical-align:middle;
}

.sidebar-open .navbar-custom-menu{
  display:none;
}
.dashboard-table td p{
  word-break: break-all;
}
@media screen and (max-width: 767px){
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: pre-line!important;
}
}
@media screen and (min-width:300px) and (max-width:720px){
  .status-cls{
    margin-top: 5px;
  }
}

.modal-body{
  max-height: 440px;
  overflow: auto;
}
.menu_left.active{
  background-color: #efc29b;
}
.scrollmenu a.active {
  background-color: #00c0ef;
}