#top
{
background:url('../images/top.png') repeat-x;
height:80px;
width:auto;
}

#middle_left
{
background:transparent url('../images/mid_lmid.png') center center repeat-y;
}

.table-responsive.table.table-hover.table-striped.thead {
  position: fixed;
}
.input-group .form-control {
  /* width: 32%!important; */
  margin-bottom: 0;
}
.input-group.input-block .form-control {
  width: 100%!important;
}
.highlight{
  background-color: yellow;
}
.table-responsive{
  overflow: auto;
}
/* padding for div class - used in ordersajax.php */
.pp
{
  padding-top: 3px;
  padding-bottom:3px;
  border-color: black;
}
 
.hrow
{
  background-color:rgb(152, 152, 211); 
}
.brow
{
  background-color:rgb(185, 179, 179); 
  font:white;
}

.border
{
  border: 1px solid black;
}

.pagination {
  margin: 0 !important;
}

.scrolldiv{
position:relative;
left:15px; 
/* width:97%; */
height: 130px !important;
overflow-y:scroll;
}

 
 
.orderstatus{
  background-color:#264595; 
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  position:relative;
  left:5%;
  align-items:center;
  font-family: "Times New Roman", Georgia, serif;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}
.panel-body {
  padding-top: 1px!important;
  padding-bottom: 1px!important;
  padding-right:2px !important;
  padding-left: 5px !important;
}
.p0{
  padding-right:0px !important;
  padding-left: 0px !important;  
}
/* .view-margin
{
    margin-right: -8px !important;;
    margin-left: -8px !important;;
} */


.template-gap
{
  width:10px !important; 
}
.template-gap-height
{
  height: 2px !important; 
}
.template-row-gap-height
{
  height: 5px !important; 
}

.template-more-row-gap-height
{
  height: 39px !important; 
}

#breaktable th {
  background-color: #264595;
  color: white;
}


.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
  }
  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed tr,
  .table-fixed td,
  .table-fixed th {
  display: block;
  }
  .table-fixed tr:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  }
  .table-fixed tbody td,
  .table-fixed thead > tr > th {
  float: left;
  }

  .table-fixed thead
  {
    background-color: #264595;
    color: white;
  }

  /* base table header alignment */
  .brand-table th.size
  {
    text-align: right;
  }

  .remark-table thead > tr > th
  {
    border-top:2px solid black !important;
    background-color: #264595;
    color: white;
    font-size: 17px;
    font-style:normal;
    font-family: "Georgia, serif";
  }

  .flexy{
    display: flex;
    flex-direction: row;
  }

  .required:after {content:"*"; color: red;font-size:16px; }

  .brand-table > tr > th,
  #breaktable  tr > th
  {
    font-family: "Georgia, serif" ; 
  }
  /* freeze remark table header */

  .remark-table.table {
    width: 100%;
}

.remark-table thead, .remark-table tbody,.remark-table tr,.remark-table td,.remark-table th { display: block; }

.remark-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.remark-table thead th {
    height: 40px;

    /*text-align: left;*/
}

.remark-table tbody {
    height: 120px;
    overflow-y: auto;
}



.remark-table tbody td, .remark-table thead th {
    width: 25%;
    float: left;
}
.report-table thead{
  background-color: #264595;
  color:#ffffff;
}