<div class="modal fade" tabindex="-1" role="dialog" id="_alert-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id="_alert-modal-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer"  id="_alert-alert">
          <div class="col-md-2 pull-right"><button type="button" class="btn btn-primary" id="_alert-modal-ok">OK</button></div>
        </div>
        <div class="modal-footer" id="_alert-confirm">
          <button type="button" class="btn btn-default" id="_alert-confirm-false" >No</button>
          <button type="button" class="btn btn-primary" id="_alert-confirm-true" >Yes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" tabindex="-1" role="dialog" id="alert-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id="alert-modal-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer"  id="alert-alert">
          <div class="col-md-2 pull-right"><button type="button" class="btn btn-primary" id="alert-modal-ok">OK</button></div>
        </div>
        <div class="modal-footer" id="alert-confirm">
          <button type="button" class="btn btn-default" id="alert-confirm-false" >No</button>
          <button type="button" class="btn btn-primary" id="alert-confirm-true" >Yes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->